@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models.Treat

<h4>Add a new treat</h4>

@using (Html.BeginForm())
{
  <div class="input-group  mb-3">
    @Html.LabelFor(model => model.TreatName,"Treat name", new {@class="input-group-text"})
    @Html.TextBoxFor(m => m.TreatName, new{@class = "form-control"})
  </div>
  <div class="input-group input-group-lg mb-3">
    <span class="input-group-text" id="inputGroup-sizing-lg">@Html.Label("Select flavor") </span>
    @Html.DropDownList("FlavorId", (IEnumerable<SelectListItem>)@ViewBag.FlavorId, "Choose flavor", new{@class =
  "form-select"})
  </div>

  <button type="submit" class="btn btn-light">Add new treat</button>
}
<div class="hstack gap-3 pt-3 mt-3 border-top border-dark">
  @Html.ActionLink("Show all treats", "Index", new {}, new {@class="btn btn-light"})
</div>
