@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models.Treat

<h2>Treat</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.TreatName): @Html.DisplayFor(model => model.TreatName)</h3>

@if (@Model.JoinEntities.Count == 0)
{
  <p>This traet does not have any flavor</p>
}
else
{
  <h4>Flavor of the treat is:</h4>
  <ul>
    @foreach (var join in Model.JoinEntities)
    {
      <li>@join.Flavor.FlavorName</li>
      @using (Html.BeginForm("DeleteFlavor", "Treats"))
      {
        @Html.Hidden("joinId", @join.FlavorTreatId)
        <input type="submit" value="Delete" />
      }
    }
  </ul>
}

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Add a Flavor", "AddFlavor", new { id = Model.TreatId })</p>