@{
  Layout = "_Layout";
}

@using System.Security.Claims


<hr />
@if (User.Identity.IsAuthenticated)
{
  <p>Hello @User.Identity.Name!</p>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <button type="submit" class="btn btn-light">Log out</button>
    <p>@Html.ActionLink("Home", "Index", "Home")</p>
  }
}
else
{
  <div class="hstack gap-3 pt-3 mt-3 border-top border-dark">
    <p>@Html.ActionLink("Register", "Register",new {}, new {@class="btn btn-light"} )</p>
    <p>@Html.ActionLink("Log in", "Login", new {}, new {@class="btn btn-light"})</p>
    <p>@Html.ActionLink("Home", "Index", "Home", new {}, new {@class="btn btn-light"})</p>
  </div>
}