@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models.Flavor

<h2>Flavor</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.FlavorName): @Html.DisplayFor(model => model.FlavorName)</h3>

@if (@Model.JoinEntities.Count == 0)
{
  <p>This flavor does not belong to any treat</p>
}
else
{
  <h4>Treat with its flavor is:</h4>
  <ul>
    @foreach (var join in Model.JoinEntities)
    {
      <li>@join.Treat.TreatName</li>
    }
  </ul>
}

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId })</p>
<p>@Html.ActionLink("Add a Treat", "AddTreat", new { id = Model.FlavorId })</p>