@{
  Layout = "_Layout";
}

@using SweetAndSavory.Models;
@model List<SweetAndSavory.Models.Flavor>;

<h1>Flavors</h1>

@if (@Model.Count == 0)
{
  <h3>No flavors have been added yet!</h3>
}

<ul>
  @foreach (Flavor flavor in Model)
  {
    <li>@Html.ActionLink($"{flavor.FlavorName}", "Details", new { id = flavor.FlavorId }) </li>
  }
</ul>
<div class="hstack gap-3 pt-3 mt-3 border-top border-dark">
  <p>@Html.ActionLink("Add new flavor", "Create")</p>
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
  <p>@Html.ActionLink("See all flavors", "Index", "Flavors")</p>
</div>